<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
    <link href="../static/card.css" th:href="@{/card.css}" rel="stylesheet">
    <link href="../static/plusModal.css" th:href="@{/plusModal.css}" rel="stylesheet">
    <link href="../static/navbar.css" th:href="@{/navbar.css}" rel="stylesheet">
    <link href="../static/footer.css" th:href="@{/footer.css}" rel="stylesheet">


    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>

    <title>Arsha Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!-- Favicons -->
    <link href="../../assets/img/favicon.png" rel="icon">
    <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--    Template Main CSS File-->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>
<div th:replace="~{/NavBar.html :: navbar}"></div>
<br><br>

<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>My cards</h2>
            <p>This is your Cards page. Here you can view and manage your cards. Click on a
                card number to expand and view its details.</p>

            <div th:if="${cards.isEmpty()}">
                <br><br>
                <h3 id="no-categories" th:text="#{cards.title.empty}">YOU STILL HAVE NO CARDS</h3>
            </div>

            <div style="margin-top: 50px;">
                <div class="centered">
                    <a th:href="@{/cards/new}">
                        <div class="plus" id="plus">
                            <div class="plus__line plus__line--v"></div>
                            <div class="plus__line plus__line--h"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <br><br>

        <div id="cards" th:unless="${cards.isEmpty()}">
            <div class="faq-list">
                <ul>
                    <!-- Loop through user categories -->
                    <div th:each="card, iterationStatus : ${cards}">
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" class="collapse"
                               th:data-bs-target="'#faq-list-' + ${card.id}"
                               th:text="${iterationStatus.count} + '. CardNumber: ' + ${card.cardNumber} + ' - ' + (${card.deleted} ? 'Inactive' : 'Active')">
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>

                            <div th:id="'faq-list-' + ${card.id}" class="collapse"
                                 data-bs-parent=".faq-list">
                                <br><br>
                                <div id="card-view-table" style="display: flex; justify-content: space-between;">
                                    <div class="card-cell">
                                        <a class="card" th:text="#{card.label.number}">Card number</a>
                                        <a class="card" th:text="${card.cardNumber}">Card number</a>
                                    </div>
                                    <div class="card-cell">
                                        <a class="card" th:text="#{card.label.holder}">Card holder</a>
                                        <a class="card" th:text="${card.cardholderName}">Card number</a>
                                    </div>
                                    <div class="card-cell">
                                        <a class="card" th:text="#{card.label.date}">Card expiration date</a>
                                        <a class="card" th:text="${card.expirationDate}">Card number</a>
                                    </div>
                                    <div class="cell">
                                        <a th:href="@{cards/update/{id}(id=${card.id})}">
                                            <button class="btn" value='Update card' title="Update card"><i
                                                    class="fa fa-pencil"></i></button>
                                        </a>
                                        <a th:href="@{cards/delete/{id}(id=${card.id})}">
                                            <button class="btn" value='Delete category' title="Delete category"><i
                                                    class="fa fa-trash"></i></button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
</section>
</div>
<br>
<div th:replace="~{/PageFrame :: footer}"></div>


<!-- Vendor JS Files -->
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>
<script src="../assets/js/main.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>

</body>
</html>