<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Verify your identity</title>
<script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<button id="verify-button">Verify</button>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', async () => {

        // Set your publishable key: remember to change this to your live publishable key in production
        // Find your keys here: https://dashboard.stripe.com/apikeys
        const {publishableKey} = await fetch('/config').then(r=>r.json());
        const stripe = Stripe(publishableKey);

        var verifyButton = document.getElementById('verify-button');
        verifyButton.addEventListener('click', async () => {
            // Get the VerificationSession client secret using the server-side
            // endpoint you created in step 3.

            try {

                // Create the VerificationSession on the server.
                const {client_secret} = await fetch('/create-verification-session', {
                    method: 'POST',
                }).then(r => r.json())

                // Open the modal on the client.
                const {error} = await stripe.verifyIdentity(client_secret);
                if(!error) {
                    window.location.href = '/submitted.html';
                } else {
                    alert(error.message);
                }
            } catch(e) {
                alert(e.message);
            }
        })

    })
</script>
</script>
</body>
</html>